#header_container{
    position: absolute;
    height: 80%;
    left: 0%;
    right: 0%;
    top: 64px;
    /* PRIMARY GREEN 0 */
    background: #00695C;
    display: flex;
    align-items: center;
}
#h3_maincall{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0.05em;
    /* SECONDARY 0 */
    color: #FFF3E0;
    line-height: 80px;
}
#h5_subcall{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    /* line-height: px; */
    /* or 150% */
    line-height: 48px;
    letter-spacing: 0.05em;
    font-size: 24px;
    color: #FFF3E0;
    padding-left: 10%;
    align-self: initial;
}
#header_subcall{
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
}
#header_subcall_2{
    margin-top: 65px;
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
}
#logo_text{
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
    color: #BF360C;
}

#logo{
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: #BF360C;
}
#button-header{
    background-color: #BF360C;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
}

#header_foto_div{
    height: 120%;
    width: 120%;
}
#foto_subcall{
    border-radius: 999%;
    width: 210px;
    height: 210px;
    align-self: center;
    margin-left: 12%;
}

#header_saiba_como{
    align-self: center;
    margin-left: 15px;
}




















/* .nav-wrapper{
    padding-left: 15rem; 
    padding-right: 15rem;
    background-color: #212121;
}

.li{
    display: flex;
}

.bold{
    font-size: 20px;
    font-weight: bold;
}

.btn{
    background-color: #BF360C;
    color: white;
}

.btn:hover{
    background-color: #a8a4a2;
}

.navButton a{
    color: white;
    font-weight: bold;
}

.brand{
    color: #BF360C;
}

.firstPage{
    display: flex;
    padding-left: 14.8rem;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background-image: url("../../Assets/Mask.png") cover;
}

.d-flex{
    display:flex; 
    flex-direction: column;
    width: 90rem;
    
}

.d-flex h1{
    margin-top: 10rem;
    font-size: 130px;
    overflow-y: hidden;
    /* letter-spacing: 10px; */
/* }

.d-flex h2{
    
    font-size: 75px;
    overflow-y: hidden;
    /* letter-spacing: 10px;
} */
/* 

.d-flex .btn{
    margin-top: 2rem;
    width: 20rem;
    height: 4rem;
} */

/* .d-flex2{
    display: flex; 
    align-items: center;
}

.d-flex2 a:last-child{
    color: white;
    margin-top: 1.3rem;
    margin-left: 2rem;
    font-size: 24px;
}

.brand2{
    padding-top: 0.7rem;
    font-size: 24px;
    color: white;
}

.display-flex{
    display: flex;
    flex-direction: column;
}

.container{
    padding-left: 14.8rem;
    padding-right: 14.8rem;
} */
/*
.imgCircle{
    width: 10rem;
    height: 10rem;
} */ 