#main_container{
    position: absolute;
}
#header_container{
    height: 80vh;
    left: 0%;
    right: 0%;
    /* PRIMARY GREEN 0 */
    background: #00695C;
    display: flex;
    align-items: center;
}
#h3_maincall{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0.05em;
    /* SECONDARY 0 */
    color: #FFF3E0;
    line-height: 80px;
}
#h5_subcall{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    /* line-height: px; */
    /* or 150% */
    line-height: 48px;
    letter-spacing: 0.05em;
    font-size: 24px;
    color: #FFF3E0;
    padding-left: 10%;
    align-self: initial;
}
#header_subcall{
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
}
#header_subcall_2{
    margin-top: 65px;
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
}
#logo_text{
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 36px;
    color: #BF360C;
}
#logo_text_white{
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    color: #FFF3E0;
    display: flex;
    align-items: center;
}

#logo{
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: #BF360C;
}
#button-header{
    background-color: #BF360C;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
}

#header_foto_div{
    height: 120%;
    width: 120%;
}
#foto_subcall{
    border-radius: 999%;
    width: 210px;
    height: 210px;
    align-self: center;
    margin-left: 12%;
}

#header_saiba_como{
    align-self: center;
    margin-left: 15px;
}
#container_inclusao{
    width: 1440px;
    height: 1010px;
    left: 0px;
    background-color: #004D40;
}
#container_texto_inclusao{
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
}
#text_container_inclusao{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    /* or 138% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    /* SECONDARY 0 */
    color: #FFF3E0;
}
#container_mockups_inclusao{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
#card_mockup{
    display: flex;
    flex-direction: column;
}
#p_small_bold{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFF3E0;
    margin-top: 50px;
}
#text_helper{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;

    display: flex;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFF3E0;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 12rem;
    white-space: initial;
    overflow: hidden;
    margin-left: 2rem;


    
}



















